@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Permanent+Marker&display=swap");
@import "cssreset.css";
@import "top-section.css";
@import "services.css";

body {
  background: rgba(230, 230, 230, 0.822);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
